@model List<eda.core.data.LogEntry>
@using eda.core;

@{
    ViewData["Title"] = "eCommerce System Dashboard";
}

<div class="text-center">
    <h1 class="display-4">eCommerce System Dashboard</h1>
</div>

<hr />

<select>
    <option>-- filter by event --</option>
    @foreach (var evt in AppConstants.EventCollection.OrderBy(m => m))
    {
        <option>@evt</option>
    }
</select>

<input type="date" />
<input type="date" />

<button type="button" class="btn btn-primary btn-sm">Filter</button>

<form class="row gx-3 gy-2 align-items-center">
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputName">Name</label>
        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Jane Doe">
    </div>
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
        <div class="input-group">
            <div class="input-group-text">???</div>
            <input type="data" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
        </div>
    </div>
    <div class="col-sm-3">
        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
        <select class="form-select" id="specificSizeSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Event</th>
            <th>Time</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.RoutingKey</td>
                <td>@item.WhenReceived.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")</td>
                <td>@item.Content</td>
            </tr>
        }
    </tbody>
</table>
