<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @{
        var linkUrl = "";
        if (this.ViewContext.RouteData.Values["controller"].ToString() == "Home" && this.ViewContext.RouteData.Values["action"].ToString() == "Index") { }
        else
        {
            linkUrl = "/home/index";
        }
    }
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    The Web-site
                </a>
            </div>
            <div class="navbar-collapse collapse top-menu">
                <ul class="nav nav-tabs navbar-right">
                    @*<li class="hidden">
                          <a class="page-scroll" href="@(linkURL == "" ? "#page-top" : linkURL)"></a>
                        </li>
                        <li>
                          <a class="page-scroll" href="@(linkURL == "" ? "#howitworks" : linkURL)">HOW IT WORKS</a>
                        </li>
                        <li>
                          <a class="page-scroll" href="@(linkURL == "" ? "#community" : linkURL)">COMMUNITY</a>
                        </li>
                        <li>
                          <a class="page-scroll" href="@(linkURL == "" ? "#aboutus" : linkURL)">ABOUT US</a>
                        </li>
                        <li>
                          <a class="page-scroll" href="@(linkURL == "" ? "#login" : linkURL)">LOGIN</a>
                        </li>
                        <li>
                          <a class="page-scroll" href="@(linkURL == "" ? "#signup" : linkURL)">SIGN UP</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <H1>Pizza</H1>
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>